{% extends "layout.html" %}
{% block title %}AddDates{% endblock %}

{% block content %}
  {% if 'email' not in session %}
    <div class="logout-index">
      <h4><a href="{{ url_for('login') }}">Login</a></h4>
      <h4><a href="{{ url_for('signUp') }}">SignUP</a></h4>
    </div>
  {% else %}
      <div class="logout-index">
        <p>You're logged-in</p>
        <h4><a href="{{ url_for('logout') }}">Logout</a></h4>
      </div>

      <h2>Add date, city, and state...</h2>
      <form method="post">
        <dd>
          <dl>
            <dt>Enter date:</dt>
            <input type="date" name="date_game" value="{{ date_game }}" size="20">
            <dt>Enter City:</dt>
            <input type="text" name="city" value="{{ city }}" size="20">
            <dt>Enter State: (e.g. MN)</dt>
            <input type="text" name="state" value="{{ state }}" size="2" max="2">
            <br><br>
            <input type="submit" name="save" value="Save">
            <input type="submit" name="cancel" value="Cancel">
          </dl>
          <a href="{{ url_for('displayGameSched') }}">Display/Edit Game's Dates.</a>
        </dd>
      </form>
  {% endif %}
{% endblock %}

{% block footer %}
<a href="{{ url_for('index') }}">Go back to home page.</a>
{% endblock %}
