{% extends "layout.html" %}
{% block title %}addItems{% endblock %}

{% block content %}
  <h2>Add Items...</h2>
  <form method=post>
    <dd>
      <dl>
        <dt>Enter the item's name:</dt>
        <input type="text" name="name" value="{{ new_name }}" size="30">
        <p>
          <input type="submit" value="Save">
          <input type="submit" name="cancel" value="Cancel">
      </dl>
      <a href="{{ url_for('displayItems') }}">Display all items.</a><br>
      <a href="{{ url_for('addSoldRecord') }}">Go to add sold records.</a>
    </dd>
  </form>

{% endblock %}
{% block footer %}
<br>
<a href="{{ url_for('index') }}">Go back to home page.</a>
{% endblock %}
