{% extends "layout.html" %}
{% block title %}Home{% endblock %}


{% block content %}
  {% if 'email' not in session %}
    <h1>Welcome</h1>
    <p>
      This is the database to store sold items and prices
      for games played in a selected date.<br>
    </p>
  {% else %}
    <h1>HOME PAGE</h1>
  {% endif %}
  <p>
    Below are the links to the different options.
  </p>
{% endblock %}

{% block footer %}
  <a href="{{ url_for('displayItems') }}">Display Items</a><br>
  <a href="{{ url_for('displayGameSched') }}">Display Game's Dates</a><br>
  <a href="{{ url_for('displaySoldRecords') }}"> Display Sold Records</a><br>
  <a href="{{ url_for('addItems') }}">Add Items</a><br>
  <a href="{{ url_for('addDates') }}">Add Dates for Games</a><br>
  <a href="{{ url_for('addSoldRecord') }}">Add Sold Record</a><br>
{% endblock %}
